
<div class="col-sm-6 col-sm-offset-1">
  <div class="jumbotron">
    <h1>To Join the Gang, Simply Fill out your ...</h1>
    <%= bootstrap_form_for @user do |f| %>
      <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.text_field :username %>
    </div>
    <div class="field">
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.password_field :password %>
    </div>
   <div class="field">
    <%= f.password_field :password_confirmation %>
    </div>
    <div class="field">
      <%= f.text_field :location %>
    </div>
    <div class="field">
        <%= f.text_field :img, label: "Image URL" %>
    </div>
    <div class="actions"><%= f.submit %></div>
  <% end %>
  </div>
</div>



