
<div class="col-sm-6 col-sm-offset-1">
<h4>What your profile looks like</h4>
  <%= bootstrap_form_for @user do |f| %>
      <%= f.text_field :email %>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation %>
      <br>
      <%= f.text_field :location %>
      <%= f.text_field :img %>
      <%= f.submit "Submit" %>
  <% end %>
</div>
