<h1><%= params[:category] %></h1>

<% @shares.each do |edit| %>
  <h3><%= edit.title %></h3>
  <h3><%= edit.artist %></h3>
  <h3><%= edit.link %></h3>
  <h2><%= edit.description %></h2>
  <h2><%= edit.length %></h2>
  <h2><%= edit.album %></h2>
  <h2><%= edit.address %></h2>
  <h2><%= edit.user_id %></h2>
<% end %>
