<div class="col-sm-6 col-sm-offset-1">

<h1><%= params[:category] %></h1>

<% @shares.each do |share| %>
  <h3><%= share.title %></h3>
  <h3><%= share.artist %></h3>
<% if share.link.include? "youtube" %>
    <iframe class="center-block" src="<%= share.link %>"></iframe>
  <% else %>
    <img class="center-block" src="<%= share.link %>" alt="a pretty thing belongs here">
  <% end %>
  <h2><%= share.description %></h2>
  <h2><%= share.length %></h2>
  <h2><%= share.album %></h2>
  <h2><%= share.address %></h2>
  <h2><%= share.user_id %></h2>
<% end %>

</div>


