<h1>New Share</h1>

<div class="col-sm-6 col-sm-offset-1">
  <%= form_for @share do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, {class: "form-control"} %>
    </div>
    <div class="form-group">
      <%= f.label :artist %>
      <%= f.text_field :artist, {class: "form-control"}  %>
    </div>
    <div class="form-group">
      <%= f.label :link %>
      <%= f.text_field :link, {class: "form-control"}  %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, {class: "form-control"}  %>
    </div>
    <div class="form-group">
      <%= f.label :length %>
      <%= f.text_field :length, {class: "form-control"}  %>
    </div>
    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_field :address, {class: "form-control"}  %>
    </div>
    <%= f.hidden_field :category, value: @share.category %>
    <%= f.submit "Create Share", {class: "btn btn-success"} %>
  <% end %>
</div>

<select name="Category" multiple>
  <option value="Art">Art</option>
  <option value="Music">Music</option>
  <option value="CoffeShop">Coffee Shop</option>
  <option value="Tech">Tech</option>
</select>
