<p><%= @share.link %></p>
<p><%= @share.title %></p>
<p><%= @share.description %></p>
<p><%= @share.artist %></p>
<p><%= @share.length %></p>
<p><%= @share.address %></p>
<p><%= @share.album %></p>
<p><%= @share.category %></p>

<!-- im not sure what this page does -->
