<div class="col-sm-6 col-sm-offset-1">
  <h1>Through The Lens</h1>
  <!-- this is the bootstrap I'd like my login features to look like. -->

  <p id="alert"><%= alert %></p>

  <%= form_tag sessions_path, {class: "form-inline"} do %>
    <div class="form-group">
      <%= text_field_tag :email, nil, {class: "form-control", placeholder: "Email"} %>
    </div>
    <div class="form-group">
      <%= password_field_tag :password, nil, {class: "form-control", placeholder: "Password"} %>
    </div>
    <%= submit_tag "Sign In", {class: "btn btn-default"}%>
  <% end %>
  <br><br>
  <div class="row">
    <img id="rootpage" src="http://static.flickr.com/8068/8267361454_42586793fb.jpg" alt="Root Lens">
  </div>
</div>
