
<!DOCTYPE html>
<html>
<head>
  <title>ThroughTheLens</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
</head>
<body>


<nav class="navbar navbar-inverse">
  <div class="container">
      <div class="col-lg-6 col-xs-12">
        <%= link_to home_path, class: "navbar-brand" do %>
          Home
        <% end %>
        <%= link_to about_path, class: "navbar-brand" do %>
          About
        <% end %>
      </div>

      <div class="col-lg-6 col-xs-12 text-right" >
        <% if current_user %>
          <%= link_to "Art", shares_path(category: "Art"), class: "btn btn-default navbar-btn", class: "btn btn-danger", type: "button" %>
          <%= link_to "Music", shares_path(category: "Music"), class: "btn btn-default navbar-btn", class: "btn btn-success" %>
          <%= link_to "Coffeeshops", shares_path(category: "Coffeeshops"), class: "btn btn-default navbar-btn", class: "btn btn-info" %>
          <%= link_to "Tech", shares_path(category: "Tech"), class: "btn btn-default navbar-btn", class: "btn btn-warning" %>
          <%= link_to('Your Profile', user_path(current_user), class: "btn btn-default navbar-btn", class: "btn btn-secondary", type: "button") if params[:controller] != "users" %>
          <%= link_to 'Log Out', session_path(' '), class: "btn btn-default navbar-btn", class: "btn btn-secondary", type: "button", method: :delete %>
        <% else %>
          <%= link_to "Sign In", new_session_path, class: "btn btn-default navbar-btn", class: "btn btn-success", type: "button" %>

          <%= link_to "Join the Gang", new_user_path, class: "btn btn-default navbar-btn", class: "btn btn-warning", type: "button" %>
        <% end %>
      </div>
  </div>
</nav>

<%= yield %>

</body>

</html>
