
<!DOCTYPE html>
<html>
<head>
  <title>ThroughTheLens</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>


<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="container-fluid">

      <div class="navbar-header">
        <%= link_to home_path, class: "navbar-brand" do %>
          HOME
        <% end %>

        <button type="button" class="navbar-toggle collapsed navbar-right" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

        <% if current_user %>
          <%= link_to('Your profile', user_path(current_user), class: "btn btn-default navbar-btn", type: "button") if params[:controller] != "users" %>
          <%= link_to 'Log out', session_path(' '), class: "btn btn-default navbar-btn", type: "button", method: :delete %>
        <% else %>
          <%= link_to "Log in", new_session_path, class: "btn btn-default navbar-btn", type: "button" %>
          <%= link_to "Register a new account", new_user_path, class: "btn btn-default navbar-btn", type: "button" %>
        <% end %>
      </div> <!-- collapse navbar-collapse navbar-right -->

    </div> <!-- container-fluid -->
  </div> <!-- container -->
</nav>


<%= yield %>

</body>

</html>
